@media screen and (min-width: 150px) and (max-width: 814px) {
  /* menu big media */
  .menu__big {
    display: none;
  }
  /* menu small media */
  .nav__container {
    margin-top: var(--margin-top-sm);
    flex-direction: row-reverse;
  }
  .nav__list--container {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.25rem;
    height: 100dvh;
    width: 200px;
    top: 80px;
    left: 6.8%;
    & li {
      list-style: none;
      &:has(> i) {
        padding: 15px 15px;
        width: 100%;
        color: var(--color-white);
        border-radius: var(--radius-sm);
        border: 2px solid rgb(85, 85, 85);
      }
    }
    & a {
      text-decoration: none;
      color: var(--color-white);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-medium);
    }
    & i {
      cursor: pointer;
      color: var(--color-white);
      font-size: var(--font-size-sm);
    }

    border-radius: var(--radius-sm);
    background: var(--color-black);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
  }
  .burger__menu {
    color: var(--color-black);
    font-size: var(--font-size-lg);
  }
  .menu__small:hover .nav__list--container {
    position: fixed;
    display: flex;
    z-index: 1;
  }
  /* banner/hero media */
  .banner__container {
    text-align: center;
    flex-direction: column;
  }
  .banner__right,
  .banner__right > img {
    background-image: url(/images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 20rem;
    max-width: 20rem;
  }
  /* popular section media */
  .popular__collection--container {
    & .popular__card--container {
      grid-template-columns: repeat(2, 1fr);

      @media screen and (max-width: 540px){
        grid-template-columns: repeat(1, 1fr);
      }

      & .text__card--tittle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  /* featured product media */
  .featured__product--container{
    text-align: center;
    flex-direction: column;
  }
  /* footer media */
  .foot__container{
    padding: 80px 30px;
  }
}
@media screen and (min-width: 814px) and (max-width: 1200px) {
  .popular__collection--container {
    & .popular__card--container {
      grid-template-columns: repeat(3, 1fr);

      & .text__card--tittle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
@media screen and (min-width: 814px) and (max-width: 6000px) {
  /* menu small media */
  .menu__small {
    display: none;
  }
}
